.dummy-class {
    border-right: 1px;
}
textarea {
    transition: all 0.3s ease 0s;
    &:hover {
        opacity: 0.22;
        background-color: yellow;
    }
}
.box {
    position: relative;
    overflow: hidden;
}
.box:hover .hidden {
    top: 0px;
}
.box .hidden {
    background: yellow;
    height: 300px;
    position: absolute;
    left: 0;
    top: -500px;
    width: 500px;
    opacity: 1;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
