<div class="row">
    <div class="col-xs-6 col-sm-2">
        <div class="btn-group">
            <button class="btn btn-link" ng-click="vm.itemsPerPage = 15">15</button>
            <button class="btn btn-link" ng-click="vm.itemsPerPage = 50">50</button>
            <button class="btn btn-link" ng-click="vm.itemsPerPage = 100">100</button>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2">
        <button class="btn btn-danger" ng-click="vm.add()">ADD</button>
        <!-- <check-box model="vm.outerModel" css-class="slideTwo" on-change="vm.update(model)"></check-box> -->
    </div>
    <!-- <text-box model="vm.textModel" on-change="vm.update(model)"></text-box> -->
    <!-- {{'outer: ' +  vm.textModel}} -->
    <div class="col-xs-4 col-sm-2">
        <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                <span>{{ vm.selectedCard || 'Cards..'}}&nbsp</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="(key,val) in vm.cards">
                    <a ng-click="vm.selectedCard = key">{{key}}</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Clear</a></li>
            </ul>
        </div>
        <div class="btn-group" uib-dropdown ng-show="vm.selectedCard">
            <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                <span>{{ vm.selected || 'Select..'}}&nbsp</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="key in vm.cards[vm.selectedCard]">
                    <a ng-click="vm.load(key)">{{key}}</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Clear</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <!-- <input type="file" name="" id="" class="form-control" fileread="vm.file"> -->
        <span class="btn btn-info btn-file">
            Browse . . . <input type="file" fileread="vm.file">
            </span>
        <div class="input-group">
            <input type="text" ng-model="vm.saveKey" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-success" ng-click="vm.save(vm.saveKey)" ng-disable="!vm.file">
                    <span>Save&nbsp&nbsp</span>
            <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
            </span>
        </div>
    </div>
    <!--    <div class="col-xs-6 col-sm-2">
    </div> -->
    <br>
</div>
<br>
<div class="row full-height">
    <div class="col-xs-12 full-height">
        <div class="table-responsive smart-table">
            <table st-table="vm.displayCollection" st-safe-src="vm.rowCollection" class="table">
                <thead class="table-headers">
                    <td class="col-md-8" style="box-shadow:none;">
                        <label for="">Search</label>
                        <input type="search" class=" form-control" st-search>
                    </td>
                    <tr>
                        <!-- <th>select row</th> -->
                        <th st-sort="category">קטגוריה</th>
                        <th st-sort="downpaymnet">מס</th>
                        <th st-sort="minisum">תשלום</th>
                        <th st-sort="sum">סכום</th>
                        <th st-sort="name">בית עסק</th>
                        <th st-sort="date">תאריך</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr st-select-row="row" ng-repeat="row in vm.displayCollection" class="repeated-item">
                        <!-- <td cs-select="row"></td> -->
                        <td>
                            <span ng-if="!row.inedit">{{row.category}}
                                <i ng-if="row.isSelected" class="glyphicon glyphicon-pencil" ng-click="vm.rowSelect(row)"></i>
                            </span>
                            <!-- <input ng-model="row.category" ng-keyup="vm.saveEdit($event,row)" type="text" ng-if="row.isSelected" class="form-control"> -->
                            <input ng-if="row.inedit"
                                    ng-keyup="vm.saveEdit($event,row)"
                                    type="search"
                                    ng-model="row.category"
                                    typeahead-select-on-exact="true"
                                    typeahead-show-hint="true"
                                    uib-typeahead="category for category in vm.categories | filter:$viewValue | limitTo:8"
                                    class="form-control">
                        </td>
                        <td>{{row.downpayment}}</td>
                        <td>{{row.minisum | currency: '₪'}}</td>
                        <td>{{row.sum | currency: '₪'}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.date}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Total: {{vm.subTotal | currency: '₪'}}</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
