<div class="well">
    <div class="row">
        <div class="col-md-3 col-md-offset-6">
            <h1><span class="label label-danger">{{text}}</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-danger" ng-click="fn({msg:message})">Call</button>
        </div>
        <div class="col-md-2 box">
            <input type="text" class="form-control" ng-model="message"></input>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>
                    
                  <span class="label label-success">{{obj.name}}</span>
                            
            </h3>
            <input type="text" class="form-control" ng-model="obj.name" />
            <h3>    
                
                    <span class="label label-default">{{obj.last}}</span>
                
            </h3>
            <input type="text" class="form-control" ng-model="obj.last" />
            <h3>       
                 <span class="label label-info">{{obj.age}}</span>
            </h3>
            <input type="text" class="form-control" ng-model="obj.age" />
        </div>
    </div>
</div>
