<g class="svg-icon">
    <g>
        <image ng-href="{{item.icon}}" transform="translate(5 15)" width="178px" height="180px" xlink:href="resources/usericon_female1.svg" />
    </g>
    <g class="svg-tooltip" transform="translate(100 -40)">
        <rect rx="8" ry="50"></rect>
        <text transform="translate(80 20)" title="{{item.name}}">Name: {{item.name}}</text>
        <text transform="translate(80 40)" title="{{item.name}}">Region: {{item.region}}</text>
        <text transform="translate(80 60)" title="{{item.name}}">Default: {{item.isDefault}}</text>
    </g>
</g>
