<g id="nodeTemplate" clip-path="url(#myClip)">
    <defs data-referencesafe="true">
        <clipPath id="myClip">
            <rect width="250" height="60"></rect>
        </clipPath>
        <linearGradient x1="0.5" y1="0" x2="0.5" y2="1" spreadMethod="pad" id="node_background">
            <stop stop-color="#FFA500" stop-opacity="1" offset="0"></stop>
            <stop stop-color="#FFEDCC" stop-opacity="1" offset="1"></stop>
        </linearGradient>
    </defs>
    <rect fill="url(#node_background)" stroke="DarkOrange" stroke-width="1" rx="8" ry="8" width="200" height="100"></rect>
    <text transform="translate(10 20)" style="font-size:18px; font-family:Arial; fill:#000; text-anchor: left; dominant-baseline: central;">{{item.name}}</text>
    <text transform="translate(10 40)" style="font-size:18px; font-family:Arial; fill:#000; text-anchor: left; dominant-baseline: central;">{{item.position}}</text>
</g>
