<script type="text/yfiles-template">
  <g id="NodeStyleTemplate">
    <rect stroke="none" fill="lightgray" rx="4" ry="4" width="{TemplateBinding width}"
        height="{TemplateBinding height}"></rect>
    <text data-content="{Binding name}"></text>
  </g>
</script>
<div class="row clarity">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Explore your Enviroment for clear network understanding</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <input type="search" placeholder="Search Account/Region" class="form-control" ng-model="vm.search">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row sort-lists">
            <div class="col-md-4">
                <h4>Accounts</h4>
                <ul class="list-group  border-top-higlight">
                    <li ng-repeat="key in vm.accKeys | filter:vm.search track by key" class="list-group-item repeated-item">
                        <span uib-dropdown ng-click="vm.selectedAccount = {name:key , val: vm.accounts[key]}">
                      <a href  uib-dropdown-toggle>
                       {{key + ' (' + vm.getLength(vm.accounts[key]) + ')'}}
                      </a>
                      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li ng-repeat="(key,value) in vm.selectedAccount.val" ng-click="vm.select(key,vm.accounts)">
                          <a href>{{key + ' (' + value.length + ')'}}</a>
                        </li>
                      </ul>
                    </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <h4>Regions</h4>
                <ul class="list-group border-top-higlight">
                    <li ng-repeat="key in vm.regKeys | filter:vm.search track by key" class="list-group-item repeated-item">
                        <span uib-dropdown ng-click="vm.selectedAccount = {name:key , val: vm.regions[key]}">
                          <a href  uib-dropdown-toggle>
                            {{key + ' (' + vm.getLength(vm.regions[key]) + ')'}}
                          </a>
                          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li ng-repeat="(key,value) in vm.selectedAccount.val" ng-click="vm.select(key,vm.regions)">
                              <a href>{{key + ' (' + value.length + ')'}}</a>
                            </li>
                          </ul>
                    </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="group shadow ">
                    <div>
                        <h4>Cloud Formation</h4>
                        <div class="form-inline margin-bottom-10">
                            <label for="uploadCloudFormation" class="btn btn-sm btn-default">Browse
                            </label>
                            <input type="file" id="uploadCloudFormation" style="display: none;">
                        </div>
                        <span style="color: red;"></span>
                        <ul></ul>
                    </div>
                    <div>
                        <br>
                        <p style="margin: 5px;">You can upload <a href="http://aws.amazon.com/cloudformation/"> AWS CloudFormation</a>’s templates to Dome9 Clarity, visualize the security relations, inspect the architectural layout and optimize security configuration before they are deployed to the live system.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div style="height:700px">
            <div class="center-block">
                <div id="center">

                  <div id="graphContainer">
                    <!-- the graphControl directive -->
                    <graph-control id="graphControl"
                                    nodes-source="nodesModel"
                                    edges-source="edgesModel"
                                    groups-source="groupsData"
                                    nodes-filter="nodesFilter"
                                    current-node="currentNode"
                                    node-id-binding="name"
                                    source-node-binding="from"
                                    target-node-binding="to"/>
                  </div>
                </div>
            </div>
        </div>

        <svg style="visibility: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <lineargradient id="nodeGradient" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" style="stop-color:rgb(204,255,255);"></stop>
              <stop offset="100%" style="stop-color:rgb(153,204,255);"></stop>
            </lineargradient>
          </defs>
        </svg>
    </div>
</div>
