<div class="animate-section">
    <form class="form-inline">
        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" ng-class="{'active':vm.left}">
                    <input type="checkbox" ng-model="vm.left" ng-change="vm.right = false;" autocomplete="off"> Left
                </label>
                <label class="btn btn-primary" ng-class="{'active':vm.right}">
                    <input type="checkbox" ng-model="vm.right" ng-change="vm.left = false;" autocomplete="off"> Right
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off" ng-model="vm.animate"> animate
                </label>
            </div>
            <input type="text" class="form-control" ng-model="vm.url">
        </div>
        <button class="btn btn-danger" ng-click="vm.clickRoute(vm.url)">Go!</button>
    </form>
    <div class="animate-if" ng-if="vm.animate" ng-class="{'right':vm.right,'left':vm.left}"></div>
</div>
