/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */
@import '../../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'variables';
@import '../app/home/home';
@import 'modules/round-icons';
//@import 'modules/ui-switch';

//Typography

//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
//}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

html,
body {
  height: 100%;
  font-family: $sansFontFamily;
}

.navbar-default {
  background: #fff;
}

.container-fluid {
  height: 100%;
  overflow-y: hidden;
  padding: 0 50px;

}

.body-film {
  height: calc(100% - 62px);
  overflow-y: auto;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
  padding: 10px 50px;
}

.form-builder {
  width: 60%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}






