.svgInstance {
  rect {
    stroke: #000066;
    fill: #00cc00;
  }
}

.svgVPC {
  rect {
    stroke: #000066;
    fill: #c06;
  }
  text {
    font-size: 12px;
    font-family: Arial;
    fill: #505050;
  }
}

.svgRegion {
  rect {
    stroke: #000066;
    fill: #f30;
  }
}

.homeClass {
  margin: 0;
}

.my-head {
  // text-align: left;
}

.st-sort-ascent:before {
  content: '\25B2';
}

.st-sort-descent:before {
  content: '\25BC';
}
